<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam officiis minima, laudantium labore non qui
            aspernatur repudiandae ipsa iure similique a voluptatem explicabo id rerum nisi maxime est earum dolores,
            eaque voluptas sint obcaecati! Delectus architecto distinctio, possimus necessitatibus natus, laborum
            reprehenderit enim ratione animi, accusantium vel odit nesciunt magnam.</p>
    </div>
</div>