<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4" />
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique neque aliquid vel placeat, reiciendis
        consequuntur quisquam deleniti! Sequi laudantium dolorem mollitia quos tempora exercitationem. Laboriosam
        aliquam libero omnis cum natus.</p>
    <a class="btn btn-primary mb-5 ml-3" href="https://paulobernal.github.io/PauloBA-s-briefcase/" target="_blank">My Briefcase</a>
</div>